:root {
    --netflix--background--color : rgb(13, 13, 13);
    --example--adImage :url("https://media.themoviedb.org/t/p/w533_and_h300_bestv2/liuBLPXvisMRo5w2JEKHXceWq5u.jpg");
    /* --user--profileImg: url("../assets//image/user.png"); */
    --netflix--logo :url("https://images.ctfassets.net/4cd45et68cgf/7LrExJ6PAj6MSIPkDyCO86/542b1dfabbf3959908f69be546879952/Netflix-Brand-Logo.png");
    --poster--image : url("https://media.themoviedb.org/t/p/w300_and_h450_bestv2/7bAS0ENl7pYogOPVNYOo2o03BuO.jpg");
}

body {
    font-size: 10px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--netflix--background--color);
    color: white;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}